[submodule ".emacs.d/public_repos/scss-mode"]
	path = .emacs.d/public_repos/scss-mode
	url = git@github.com:antonj/scss-mode.git
[submodule ".emacs.d/public_repos/rhtml"]
	path = .emacs.d/public_repos/rhtml
	url = git@github.com:eschulte/rhtml.git
[submodule ".emacs.d/public_repos/rinari"]
	path = .emacs.d/public_repos/rinari
	url = git@github.com:eschulte/rinari.git
[submodule ".emacs.d/public_repos/php-mode"]
	path = .emacs.d/public_repos/php-mode
	url = git@github.com:ejmr/php-mode.git
[submodule ".emacs.d/public_repos/magit"]
	path = .emacs.d/public_repos/magit
	url = git@github.com:magit/magit.git
[submodule ".emacs.d/public_repos/git-modes"]
	path = .emacs.d/public_repos/git-modes
	url = git@github.com:magit/git-modes.git
